
@{
    ViewBag.Title = "SendEmpInfo";
    var emp = ViewData["empinfo"];
}        
<h2>SendEmpInfo</h2>

@*@ViewData["empinfo"].EmpId<br />
@ViewData["empinfo"].EmpName<br />
@ViewData["empinfo"].EmpSalary<br />*@

